/* --- Polices --- */
@font-face {
    font-family: police_titres;
    src: url(anicb___.ttf),
         url(anicm___.ttf),
         url(anirb___.ttf),
         url(anirm___.ttf);
}
@font-face {
    font-family: police_symboles;
    src: url(tngan.ttf),
         url(tnganb.ttf),
         url(tnganbi.ttf),
         url(tngani.ttf);
}
@font-face {
    font-family: police_textes;
    src : url(partybusiness.ttf);
}
h1, h2, h3, h4, h5, h6, table, nav a, .badge {
    font-family: police_titres;
}
p {
    font-family: police_textes;
    font-size: 1.5em;
}

/* --- Header --- */

.nav-link:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #f46426;
}

.nav-link {
    color: white!important;
    border-right: 1px solid white;
    margin-right: 5px;
    margin-left: 5px;
}
.nav-link:hover {
    color: white;
    transform: scale(1.3);
}

.btn a {
    color: black;
}
.carousel-caption {
    margin-bottom: 8%;
}
.ctn2 {
    background-image: url("bg_light.png");
}
.ring1 {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 200%;
    border-style: solid;
    border-color: #F46426;
    border-width: 3px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .ring2 {
    height: 130px;
    width: 130px;
    background-color: transparent;
    border-radius: 200%;
    border-style: solid;
    border-color: #f4ce26;
    border-width: 10px;
  }
  
  .rings1 {
    height: 20px;
    width: 20px;
    border-radius: 200%;
    border-style: solid;
    border-color: #313131;
    border-width: 2px;
    position: relative;
    right: -2em;
    left: -1em;
  }
  
  .rings2 {
    height: 40px;
    width: 40px;
    border-radius: 200%;
    border-style: solid;
    border-color: #313131;
    border-width: 4px;
    position: relative;
    right: -4em;
    left: -2em;
  }
  
  .rings3 {
    height: 60px;
    width: 60px;
    border-radius: 200%;
    border-style: solid;
    border-color: #313131;
    border-width: 6px;
    position: relative;
    right: -6em;
    left: -3em;
  }
  
  .rings4 {
    height: 80px;
    width: 80px;
    border-radius: 200%;
    border-style: solid;
    border-color: #313131;
    border-width: 8px;
    position: relative;
    right: -8em;
    left: -4em;
  }
  
  .rings5 {
    height: 100px;
    width: 100px;
    border-radius: 200%;
    border-style: solid;
    border-color: #313131;
    border-width: 10px;
    position: relative;
    right: -10em;
    left: -5em;
  }
  
  .rings6 {
    height: 120px;
    width: 120px;
    border-radius: 200%;
    border-style: solid;
    border-color: #313131;
    border-width: 12px;
    position: relative;
    right: -12em;
    left: -6em;
  }
  .cercle2 h3 {
      padding-top: 50px;
      margin-left: 10px;
  }
/* --- Fellows --- */

.badge {
    font-size: 1em;
    color: grey;
}
.badge:hover {
    color: #f46426;
}
.fellows {
    padding-bottom: 1.5em;
}
#fellows span {
    font-family: police_symboles;
    color: #f46426;
    font-size: 1.2em;
}




/* --- Footer --- */

footer .container {
    background-color: #f46426;
    padding : 10px;
}
footer a {
    color: white;
    font-family: police_titres;
    font-size: 1em;
}
footer li {
    list-style-type: none;
}

